<div class="h-[calc(100vh-64px)] flex justify-center items-center bg-gray-100">
    <div class="w-full max-w-md bg-blue-400 rounded-lg  shadow-lg p-8 flex flex-col items-center">
        <h2 class="text-white text-2xl uppercase font-medium">Log In</h2>

        <form action="" #userForm="ngForm" method="post" required class="w-full mt-10 bg-white p-6 rounded-md shadow-md flex flex-col gap-4">
            
            <input type="email" name="email" ngModel #email="ngModel" required email placeholder="Enter Email Address" autocomplete="email"
                class="border border-gray-300 rounded placeholder-gray-400 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">
               @if (email.invalid && email.touched) {
                <span class="text-red-500 text-sm">Please Enter Valid Email</span>
                }
                <input type="text" name="password" ngModel #password="ngModel" minlength="5" [maxlength]="10" required placeholder="Enter Password" autocomplete=""
                class="border border-gray-300 placeholder-gray-400 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">

                @if (password.invalid && password.touched) {
                    <span class="text-red-500 text-sm">Please Enter Valid Password</span>
                }

                <!--Select Books-->
                <!-- <select name="" [(ngModel)]="selectedOption" name="option" id="" class="border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400">
                    <option value="Select Books">Select Books</option>
                    <option value="Science">Science</option>
                    <option value="Maths">Maths</option>
                    <option value="English">English</option>
                    <option value="Others">Others</option>
                </select> -->
                
                <div>
                    @if (selectedOption === 'Others') {
                    <input type="text" placeholder="Enter Books Names" name="otherText" [(ngModel)]="otherText" name="otherText" class="w-full border border-gray-300 placeholder-gray-400 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400" id="">
                }
                </div>

                
                <!-- @if (userForm.invalid && userForm.untouched) { -->
<button type="button" [disabled]="userForm.invalid" (click)="submit()" [ngClass]="userForm.invalid ? 'bg-gray-400 cursor-not-allowed' : 'bg-blue-400 hover:bg-blue-500' " class="bg-blue-400 text-white px-4 py-3 rounded cursor-pointer">Login In</button>
                <!-- } -->
        </form>

        <p class="text-green-800 font-medium">Email:{{email.value}}</p>
        <p class="text-green-800 font-medium">Password:{{password.value}}</p>

    </div>
</div>